<style>
    .loader-wrap{
      height: 100vh;
      width: 100vw;
      align-items: center;
      justify-content: center;
    }
    .show{
        display: flex;
    }
    .loader {
      border: 10px solid #f3f3f3;
      border-radius: 50%;
      border-top: 10px solid #141414;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }
    
    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    </style>
    <div class="loader-wrap show"><div class="loader"></div></div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-3 col-6 col-md-4 mb-5 justify-content-center align-items-center d-flex flex-column w3-animate-zoom" *ngFor="let arr of array">
                <a [routerLink]="['/product', arr.id ]"><img src="{{arr.url}}w=387&h=512&q=80" alt="" class="img-fluid img-responsive rounded"></a>
                <div class="d-flex flex-column flex-wrap bg-lighter w-100 p-3">
                    <h3 class="mt-2">{{arr.name}}</h3>
                    <span>Price: {{arr.price}}$</span>
                    <div class="d-flex vintage mt-4 justify-content-between">
                        <mat-icon>favorite</mat-icon>
                        <mat-icon (click)="addToCart(arr)" appHover>shopping_cart</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>