<app-sidebar>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-3 col-6 col-md-4 mb-5 justify-content-center align-items-center d-flex flex-column" *ngFor="let arr of array">
                <img src="{{arr.url}}" alt="" class="img-fluid img-responsive rounded">
                <div class="d-flex flex-column flex-wrap bg-lighter w-100 p-3">
                    <h3 class="mt-2">{{arr.name}}</h3>
                    <span>Price: {{arr.price}}$</span>
                    <div class="d-flex vintage mt-4 justify-content-between">
                        <mat-icon>favorite</mat-icon>
                        <mat-icon (click)="addToCart(arr)">shopping_cart</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-sidebar>