<hr>
<div class="container-fluid">
    <div class="row flex-wrap">
        <img class="img-fluid img-responsive" src="https://res.cloudinary.com/dkz8w5n6k/image/upload/v1658289182/1_yafnei.png" alt="">
    </div>
</div>
<hr>

<div class="container-fluid">
    <div class="row flex-wrap">
        <img class="img-fluid img-responsive" src="https://res.cloudinary.com/dkz8w5n6k/image/upload/v1658289181/2_v2iqkd.png" alt="">
    </div>
</div>
<hr>

<div class="container-fluid">
    <div class="row flex-wrap">
        <img class="img-fluid img-responsive" src="https://res.cloudinary.com/dkz8w5n6k/image/upload/v1658289181/3_x1z7io.png" alt="">
    </div>
</div>
<hr>