    <div class="container mt-5">
        <div class="row mb-5">
            <div class="col-lg-6 d-block w3-animate-top" aria-label="Product image">
                <img class="img-responsive pe-5 ps-5 img-fluid rounded offset-lg-1" src="{{product['url']}}w=175&h=225&q=80" alt=""><br>
                <hr class="vint">
                <div class="btns ps-5 pe-5">
                    <strong class="vintage pe-5 ps-5 offset-lg-1 mt-3">Price: {{product['price']}}$</strong>
                    <button mat-raised-button (click)="addToCart()">Add to cart</button>
                </div>
                <hr class="vint">
                <mat-chip-list class="pe-5 ps-5" aria-label="clothing sizes available">
                    <div class="vintage pe-2 ps-5">Sizes: 
                        <span *ngFor="let size of sizes">
                            <mat-chip>{{size}}</mat-chip>
                        </span>
                </div>
                  </mat-chip-list>
                <hr class="vint">
            </div>
            <div class="col-lg-6 centered w3-animate-top">
                <h2 class="vintage pe-5 ps-5">{{product['name']}}</h2>
                <p class="vintage pe-5 ps-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa ultricies mi quis hendrerit dolor magna eget. Id donec ultrices tincidunt arcu non. Eu volutpat odio facilisis mauris sit. Lectus magna fringilla urna porttitor rhoncus dolor
                </p>
            </div>
        </div>
    </div>