.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar{
  background-color: #000000;
}

.light{
  color: aliceblue;
}

.mat-icon-button{
  color: aliceblue;
}

.bg-light{
  background-color: aliceblue;
}

.d-flex{
  display: flex;
  width: 100%;
}

.justify-content-between{
  justify-content: space-between;
}

.btns{
  display: flex;
  gap: 2rem;
}

.hidden{
  display: none;
}

.search{
  background-color: gainsboro;
  outline: none!important;
  border: none;
  font-size: medium;
}

.nav-icons{
  color: aliceblue;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.carts{
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  color: aliceblue;
  position: fixed;
  z-index: 999;
  border: 1px solid #773f1a;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.1s;
  padding-bottom: 10vh;
}

.cart-content{
  overflow-y: scroll;
}

.close{
  position: absolute;
  right: 32px;
  top: 32px;
}

.open{
  right: -5000px;
}

.closed{
  display: flex;
  flex-direction: column;
  right: 0px;
}

.based{
  position: absolute;
  position: fixed;
  width: 50%;
  bottom: 0;
  padding: 3vh 4vw;
}

.thick{
  cursor: pointer;
  font-weight: 800;
  font-size: large;
}

a{
  text-decoration: none;
}

@media screen and (max-width: 576px) {

  .carts, .based{
    width: 75%;
  }
  
}