<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false" [ngClass]="{'hidden': !(isHandset$ | async)}"
    >
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <mat-expansion-panel (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Clothings
                    </mat-panel-title>
                </mat-expansion-panel-header>
                    <mat-list>
                        <a mat-list-item href="">Suits</a>
                        <a mat-list-item href="">Jeans</a>
                        <a mat-list-item href="">Shirts</a>
                        <a mat-list-item href="">Shoes</a>
                        <a mat-list-item href="">Ties</a>
                        <a mat-list-item href="">Belts</a>
                        <a mat-list-item href="">Watches</a>
                        <a mat-list-item href="">socks</a>
                        <a mat-list-item href="">hats</a>
                    </mat-list>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Shoes
                    </mat-panel-title>
                </mat-expansion-panel-header>
                    <mat-list>
                        <a mat-list-item href="">Price</a>
                        <a mat-list-item href="">Brand</a>
                        <a mat-list-item href="">Location</a>
                        <a mat-list-item href="">Delivery</a>
                    </mat-list>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Tops
                    </mat-panel-title>
                </mat-expansion-panel-header>
                    <mat-list>
                        <a mat-list-item href="">Hand made</a>
                        <a mat-list-item href="">Machine made</a>
                    </mat-list>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Jeans
                    </mat-panel-title>
                </mat-expansion-panel-header>
                    <mat-list>
                        <a mat-list-item href="">slim</a>
                        <a mat-list-item href="">slim fit</a>
                        <a mat-list-item href="">Normal fit</a>
                        <a mat-list-item href="">large</a>
                        <a mat-list-item href="">custom</a>
                    </mat-list>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Graphic & Tees
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                    <a mat-list-item href="">item</a>
                </mat-list>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Hoodies & Sweats
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                    <a mat-list-item href="">item</a>
                </mat-list>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Accessories
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                    <a mat-list-item href="">item</a>
                </mat-list>
            </mat-expansion-panel>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar layout="row">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <div class="d-flex justify-content-between align-items-center container">
                <span class="light">MENS-OUTFITS</span>
              <form *ngIf="!(isHandset$ | async)">
                <input type="text" name="search" id="search" class="search rounded ps-2" placeholder="search">
              </form>
               <div class="nav-icons">
                <mat-icon *ngIf="isHandset$ | async" aria-hidden="false" aria-label="Example acoount_circle icon">search</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example acoount_circle icon">account_circle</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example favorite icon">favorite</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example explore icon">explore</mat-icon>
               </div>
            </div>
        </mat-toolbar>
        <!-- Add Content Here -->
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
